	body{
		background-color: lightblue;
	}	
	
	#centralizado {	  
		position: absolute;
		align="center"			
		z-index: 15;
		top: 60%;
		left: 50%;
		margin: -100px 0 0 -200px;					
	}
	
	div.logo{
		position: absolute;			
		left: -30%;
		top: -100%;
	}
	
	div.botao{			
		position: absolute;
		left: 0%;	
	}